<div class="container">
  <div class="row row-cols-2 g-4 py-5">
<section class="service">
  <a href="/services">
  <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><i class="fa-solid fa-star-of-life"></i>{{service_name}} </h3>
          </div>
          <p>{{category_name}}</p>
        </div>
      </div>
  </a>
</section>
</div>
</div>

