<script src='fullcalendar/dist/index.global.js'></script>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth'
        });
        calendar.render();
    });

</script>

{{#if loggedIn}}
<div class="container">
    <div id='calendar'></div>
</div>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}