<div class="container w-100">
    <form id="appt-form">
      <h1 class="h3 mb-3 fw-normal">Please enter appointment information:</h1>

      <div class="form-floating">
        <input type="title" class="form-control" id="title-input" placeholder="title">
        <label for="title-input">Title</label>
      </div>
      <div class="form-floating">
        <input type="start" class="form-control" id="start-input" placeholder="start">
        <label for="start-input">Start</label>
      <button class="w-100 btn btn-lg btn-primary" type="submit" id="appt-btn">Register</button>
    </form>
</div>

<div class="calendar">
    {{#if loggedIn}}
    <div class="container">
        <div id='calendar'></div>
    </div>
    <script src="/js/calendar.js"></script>
    {{else}}
    <div class="login-alert"><a href="/login">You must login to make an appointment.</a></div>
    {{/if}}
</div>

  <script src="/js/appointmentadd.js"></script>