<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Welcome to Express Urgent Care!</h1>
            <p class="col-md-8 fs-4">Express Urgent Care is your home for all your medical needs. Proving urgent
                treatments, routine labwork, and annual physicals, you can find a service that meets your needs, at a
                time that works for you.</p>
            <button class="btn btn-danger btn-lg" type="button" id="home-appt-btn"><a href="/calendar">Book an
                    appointment</a></button>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3">
                <h2>Clinic Information</h2>
                <ul class="home-list">
                    <li><i class="fa-regular fa-clock"></i> <strong>Business Hours:</strong><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sunday - Saturday<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8 am - 8 pm</li>
                    <li><i class="fa-solid fa-location-pin"></i> <strong>Location:</strong><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9201 University City Blvd<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Charlotte, NC 28223</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Contact</h2>
                <ul class="home-list">
                    <li><i class="fa-solid fa-phone"></i> Phone number:<br> <a href="tel:+15552134229">555-213-4229</a>
                    </li>
                    <li><i class="fa-solid fa-fax"></i> Fax number:<br> <a href="fax:+15552134000">555-213-4000</a></li>
                    <li><i class="fa-solid fa-envelope"></i> Email: <br><a
                            href="mailto:expressurgentcare@fake.com">expressurgentcare@fake.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>