<link href="/css/login-register.css" rel="stylesheet">

<body class="text-center">

  <main class="form-signin w-50 m-auto">
    <form id="login-form">
      <img class="mb-4" src="/assets/UrgentCareFavicon.png" alt="" width="100" height="100">
      <h1 class="h3 mb-3 fw-normal">Please sign in:</h1>

      <div class="form-floating">
        <input type="username" class="form-control" id="username-input-login" placeholder="username">
        <label for="username-input-login">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password-input-login" placeholder="Password">
        <label for="password-input-login">Password</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit" id="login-btn">Sign in</button>
      <a href="/signup">Sign up instead?</a>
      <p class="mt-5 mb-3 text-muted">© 2017–2023</p>
    </form>
  </main>
  <script src="/js/login.js"></script>