#logoutbtn {
    background: none !important;
    border: none;
}

#logout-link {
    color: white;
    padding-top: .45rem;
}

#profile-nav {
    padding-right: .9rem;
}

.service {
    padding: 1em;
}

nav .navbar-nav li a {
    color: white !important;
}

.login-alert {
    margin-top: 10%;
    text-align: center;
    font-size: 30px;
}

.login-alert a {
    text-decoration: none;
}

.login-alert a:hover {
    color: red;
}

.home-list {
    list-style-type: none;
}

#home-appt-btn a {
    text-decoration: none;
    color: white;
}

.calendar {
    margin-top: 5%;
}